body {
  background-color: black;
}

.display {
  width: 600px; 
  height: 480px;
  position: relative;
  border-radius: 5px;
}

.bg {
  width: 600px;
  height: 480px;
  position: absolute;
  border-radius: 5px;
}

.title-option {
  border-radius: 8px;
  padding: 10px;
  font-size: 45px;
  box-shadow: 5px 10px 18px black;
  background-color: #ffa49cFF;
  font-family: monospace;
}

.title-option:hover {
  cursor: pointer;
}

.intro-slide {
  top: 200px;
  display: none;
  color: white;
  font-family: monospace;
  position: absolute;
}

.gui {
  padding: 10px;
  border-radius: 5px; 
  background-color: #898cd7FF;
  opacity: 0.6;
  display: none;
  z-index: 100;
  position: absolute;
  font-family: monospace;
}

.gui:hover {
  cursor: pointer;
}

.ui {
  padding: 10px;
  border-radius: 5px; 
  background-color: #898cd7FF;
  opacity: 0.6;
  display: none;
  z-index: 100;
  font-family: monospace;
}

.ui:hover {
  cursor: pointer;
}

#display {
  top: 0px; 
  left: 0px; 
  right: 0px; 
  bottom: 0px;
  margin: auto;
  width: 600px;
  height: 480px; 
  background-color: black;
  position: absolute; 
  border-radius: 5px;
}

#title-menu {
  top: 150px;
  position: absolute;
}

#intro, #night1 {
  display: none;
}

#mainBtns {
  bottom: 10px; 
  left: 10px;
  position: absolute;
}

#objMark {
  top: 10px; 
  left: 10px;
}