body {
  outline: none;
  background-color: black;
}

p {
  margin: 0;
  outline: none;
}

p:active, input[type="button"]:active {
  outline: none;
}

.display {
  width: 600px; 
  height: 480px;
  position: relative;
  border-radius: 5px;
}

.bg {
  width: 600px;
  height: 480px;
  position: absolute;
  border-radius: 5px;
}

.title-option {
  border-radius: 8px;
  padding: 10px;
  font-size: 45px;
  box-shadow: 5px 10px 18px black;
  background-color: #ffa49cFF;
  font-family: monospace;
}

.title-option:hover {
  cursor: pointer;
}

.intro-slide, #sharonword {
  top: 200px;
  display: none;
  color: white;
  font-family: monospace;
  position: absolute;
}

.gui {
  padding: 10px;
  border-radius: 5px; 
  background-color: #898cd7FF;
  opacity: 0.6;
  display: none;
  z-index: 100;
  position: absolute;
  font-family: monospace;
}

.gui:hover {
  cursor: pointer;
}

.ui {
  width: 100px;
  padding: 10px;
  border-radius: 5px; 
  background-color: #898cd7FF;
  opacity: 0.6;
  z-index: 100;
  font-family: monospace;
}

.ui:hover {
  cursor: pointer;
}

.mapItem {
  display: none;
}

.talkHead {
  display: none; 
}

.talkHead:hover {
  cursor: pointer;
}

.talkBody {
  display: flex;
  width: 250px;
  height: 70px; 
  border: 1px solid black; 
  border-radius: 5px;
}

.talkStuff {
  overflow-y: auto;
}

.headImg {
  border: 1px solid black; 
  border-radius: 5px;
}

#display {
  top: 0px; 
  left: 0px; 
  right: 0px; 
  bottom: 0px;
  margin: auto;
  width: 600px;
  height: 480px; 
  background-color: black;
  position: absolute; 
  border-radius: 5px;
}

#title-menu {
  top: 150px;
  position: absolute;
}

#intro, #night1, #objDisplay, #invDisplay, #mapDisplay, #hallway1, #khanclass, #sharondreamtalk, #spiceroad, #dontpanic, #darkway, #office1, #office2, #den, #blkbrd {
  display: none;
}

#objDisplay, #invDisplay, #mapDisplay {
  z-index: 300;
}

#mapBtn {
  bottom: 10px; 
  left: 10px;
}

#objBtn {
  bottom: 80px; 
  left: 10px;
}

#invBtn {
  bottom: 45px;
  left: 10px;
}

#levBtn {
  bottom: 10px; 
  right: 10px;
}

#objMark {
  top: 10px; 
  left: 10px;
}

#objList, #invList, #mapList {
  width: 500px; 
  height: 300px;
  overflow-y: auto;
  font-family: monospace;
  color: white; 
  font-size: 20px;
  border-radius: 8px;
  top: 100px; 
  position: absolute;
}

#youAreAt {
  top: 10px;
  right: 10px;
  position: absolute;
}

#talkInt {
  width: 300px;
  height: 250px;
  display: none;
  font-family: monospace;
  font-size: 15px;
  opacity: 0.6;
  background-color: #efcef8;
  border-radius: 5px; 
  top: 120px; 
  left: 150px;
  position: absolute;
  z-index: 300;
  overflow-y: auto;
}

#sharondreamtalk {
  font-family: monospace; 
  color: white;
}

#compIcon {
  display: none;
  opacity: 0.6;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 300;
  font-family: monospace; 
  font-size: 24px;
  padding: 5px;
  background-color: #a4e382;
}

#compIcon:hover {
  cursor: pointer;
}

#compInt {
  width: 300px;
  height: 250px;
  display: none;
  font-family: monospace;
  font-size: 15px;
  opacity: 0.6;
  background-color: #40f76e;
  border-radius: 5px; 
  top: 120px; 
  left: 150px;
  position: absolute;
  z-index: 300;
  overflow-y: auto;
}

#combatInt {
  width: 300px;
  height: 250px;
  display: none;
  font-family: monospace;
  font-size: 15px;
  opacity: 0.6;
  background-color: #f29326;
  border-radius: 5px; 
  top: 120px; 
  left: 150px;
  position: absolute;
  z-index: 300;
  overflow-y: auto;
}

#deathInt {
  width: 300px;
  height: 250px;
  display: none;
  font-family: monospace;
  font-size: 15px;
  opacity: 0.6;
  background-color: #a34729;
  border-radius: 5px; 
  top: 120px; 
  left: 150px;
  position: absolute;
  z-index: 300;
  overflow-y: auto;
}

#mortemInt {
  width: 300px;
  height: 250px;
  display: none;
  font-family: monospace;
  font-size: 15px;
  opacity: 0.6;
  background-color: #f25926;
  border-radius: 5px; 
  top: 120px; 
  left: 150px;
  position: absolute;
  z-index: 300;
  overflow-y: auto;
}

#lootInt {
  width: 300px;
  height: 250px;
  display: none;
  font-family: monospace;
  font-size: 15px;
  opacity: 0.6;
  background-color: #dcd4ac;
  border-radius: 5px; 
  top: 120px; 
  left: 150px;
  position: absolute;
  z-index: 300;
  overflow-y: auto;
}

#moveBtn {
  z-index: 300;
  margin-left: auto; 
  margin-right: auto; 
  top: 200px; 
  left: 0px; 
  right: 0px;
  position: absolute;
}

#wendigo {
  z-index: 300;
  top: 80px;
  position: absolute;
  left: 0px; 
  right: 0px;
  margin-left: auto; 
  margin-right: auto; 
  display: none;
}