body {
  background-color: black;
}

.display {
  width: 600px; 
  height: 480px;
  position: relative;
  border-radius: 5px;
}

.bg {
  width: 600px;
  height: 480px;
  position: absolute;
  border-radius: 5px;
}

.title-option {
  border-radius: 8px;
  padding: 10px;
  font-size: 45px;
  box-shadow: 5px 10px 18px black;
  background-color: #ffa49cFF;
  font-family: monospace;
}

.title-option:hover {
  cursor: pointer;
}

.intro-slide {
  top: 200px;
  display: none;
  color: white;
  font-family: monospace;
  position: absolute;
}

.gui {
  padding: 10px;
  border-radius: 5px; 
  background-color: #898cd7FF;
  opacity: 0.6;
  display: none;
  z-index: 100;
  position: absolute;
  font-family: monospace;
}

.gui:hover {
  cursor: pointer;
}

.ui {
  width: 100px;
  padding: 10px;
  border-radius: 5px; 
  background-color: #898cd7FF;
  opacity: 0.6;
  z-index: 100;
  font-family: monospace;
}

.ui:hover {
  cursor: pointer;
}

.mapItem {
  display: none;
}

#display {
  top: 0px; 
  left: 0px; 
  right: 0px; 
  bottom: 0px;
  margin: auto;
  width: 600px;
  height: 480px; 
  background-color: black;
  position: absolute; 
  border-radius: 5px;
}

#title-menu {
  top: 150px;
  position: absolute;
}

#intro, #night1, #objDisplay, #invDisplay, #mapDisplay {
  display: none;
}

#objDisplay, #invDisplay, #mapDisplay {
  z-index: 300;
}

#mapBtn {
  bottom: 10px; 
  left: 10px;
}

#objBtn {
  bottom: 80px; 
  left: 10px;
}

#invBtn {
  bottom: 45px;
  left: 10px;
}

#levBtn {
  bottom: 10px; 
  right: 10px;
}

#objMark {
  top: 10px; 
  left: 10px;
}

#objList, #invList, #mapList {
  width: 500px; 
  height: 300px;
  overflow-y: auto;
  font-family: monospace;
  color: white; 
  font-size: 20px;
  border-radius: 8px;
  top: 100px; 
  position: absolute;
}